@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#p5-container {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 100%;
	width: 15em;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
}

#p5-container .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; 
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#p5-container .overlay img{
	width: 60%;
	height: auto;
	margin-bottom: 50%;
}

.scale08 {
	margin-top: 12.76%;
	transform: scale(.58);
}

button {
	outline:none !important;
}


#main-container {
	height: 90%;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
	border-radius: 7px;
	bottom: 10%;
	border: none;
	font-size: 1em;
	background: white;
	color: rgb(78, 78, 78);
	cursor:pointer;
	text-decoration:none;
	position: absolute;
	padding: .2em .4em;
	transition: opacity 0.2s ease-in-out;
}

button:hover {
	opacity: 0.6;
}

.login-page {
  position: fixed;
	display: flex;
/* display: none; */
	justify-content: center;
	align-content: center;
	height: 100%;
	width: 100%;
	transition: transform 0.8s ease-in-out;
	z-index: 100;
	background-color: #235789;
}

#error-msg {
	color: #C1292E;
	font-size: 0.9em;
}

.form__group {
	position: relative;
	padding: 15px 0 0;
	margin: auto;
	width: 10em;
}

.form__field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 3px solid white;
	outline: 0;
	font-size: 1.3rem;
	color: #fff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.form__field::placeholder {
	color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
	font-size: 1.5rem;
	cursor: text;
	top: 20px;
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: white;
}

.form__field:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, white, white);
	border-image-slice: 1;
}

.form__field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: white;
	font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
	box-shadow: none;
}

/* demo */
body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 1.5rem;
	background-color: white;
}

.no-opacity {
	opacity: 0;
}

.slide-up {
    transform: translate3d(0, 100%, 0);
}

input[type=range] {
	position: absolute;
	bottom: 30%;
	margin-top: 10%;
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 60%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
}
  
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: #ffffff;
	cursor: pointer;
	margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	border: 2px solid rgba(124, 144, 160, 0.8)
}
  
input[type=range]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
  
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 12px;
	cursor: pointer;
	box-shadow: inset 0px 0px 3px .5px rgba(0,0,0,1);
	border-radius: 50%;
	background: white;
	border-radius: 7px;
}